
.searchButton {
    background: none;
    border: none;
    cursor: pointer;
}

.searchButton img {
    filter: invert(100%);
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.searchButton:hover img {
    transition: filter 0.15s ease;
    filter: invert(70%);
}

.searchButton:active img {
    filter: invert(60%);
}

.pageButton {
    background: none;
    border: none;
    cursor: pointer;
}

.pageButton img {
    width: 70px;
    height: 70px;
    transition: filter 0.3s ease;
}

.pageButton:hover img {
    filter: invert(50%);
}

.pageButton:active img {
    transition: filter 0.1s ease;
    filter: invert(80%);
}
