.App {
    display: flex;
    flex-direction: column;
    /* 자식 요소들을 수직 방향으로 정렬 */
    justify-content: flex-start;
    /* 자식 요소들을 컨테이너의 시작점부터 정렬 */
    align-items: center;
    /* 가로 중앙 정렬 */
    width: 100%;
}

.black-nav {
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 60px 0 30px 150px;
    /* 축약형 패딩 설정 */
    font-weight: 600;
    font-size: 40px;
    text-align: left;
}

.searchContainer {
    display: flex;
    margin-top: 30px;
}

.textInput {
    font-size: 20px;
    height: 40px;
    width: 90%;
    align-self: flex-start;
}

